## Backend
PORT=3000
ENCRYPTION_KEY=sua_chave_de_criptografia_aqui
JWT_SECRET=sua_chave_jwt_aqui
SEED_ADMIN=true                      # Ativar na primeira execução para criar admin padrão (admin/admin)

## DB Config
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=sua_senha_aqui
DB_DATABASE=quero_cafe_bar
